<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Kommuner</title>
</head>
<body>

    <h1>Kommuner</h1>

    <!--Laver en tabel med overskrifter -->
    <div style="display: flex; flex-direction: row; justify-content: space-around; background-color: #9BBF26;" class="mt-20 border-2 bg-green-300 text-white uppercase text-xl -mt-5">
        <div class="flex flex-start">
            Kommune
        </div>
        <div>
            Antal smittede
        </div>
    </div>
    <table id="demoB"  class="table table-bordered">
        
    </table>
    
    <!-- Importere js filer -->
    <script src="../js/fetch-kommuner.js"></script>
    
</body>
</html>