<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/composite">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Update Sogn </title>
  </head>

  <body>
    <form
      class="form"
      action="#"
      th:action="@{/updatesognjs}"
      th:object="${sognlist}"
      method="POST"
    >
      <input type="hidden" th:field="*{sognid}" />

      <label for="navn">Sogn:</label><br />
      <input
        type="text"
        id="navn"
        th:field="*{navn}"
        name="navn"
      /><br /><br />

      <label for="navn">Smittetryk:</label><br />
      <input
      type="text"
      id="smittetryk"
      th:field="*{smittetryk}"
      name="smittetryk"
    /><br /><br />

    <label for="navn">Sognkode:</label><br />
    <input
    type="text"
    id="sognkode"
    th:field="*{sognkode}"
    name="sognkode"
  /><br /><br />

  <label for="navn">Dato for nedlukning:</label><br />
  <input
  type="date"
  id="lukdato"
  th:field="*{lukdato}"
  name="lukdato"
/><br /><br />

<label for="navn">Lukket?</label><br />
<script>
  function onlyOne(checkbox) {
var checkboxes = document.getElementsByName('lukket')
checkboxes.forEach((item) => {
if (item !== checkbox) item.checked = false
})
} 
</script>

<label for="lukket">Ja</label><br />
<input type="checkbox" name="lukket" onclick="onlyOne(this)" value="1">

<br>

<label for="lukket">Nej</label><br />
<input type="checkbox" name="lukket" onclick="onlyOne(this)" value="0">

<br><br>




  <label for="navn">Kommune:</label><br />
  <div class="select">
    <select name="kommune" id="standard-select" style="width: 70%; margin-left: 16.9%; padding: 3px;">

    </select>

  </div> 

      <button type="submit" class="btn btn-info col-2">Opdater sognlist</button>
    </form>
  </body>

  <script src="../js/Fetch-kommune-dropdown.js"></script>
  
</html>
